.contenedor{
	display: flex;
	flex-flow: row wrap;
	width:100%;
	justify-content:center;
}

.contenedor h1{
	width: 100%;
	text-align: center;
}

.contenedor .formulario{
	display: flex;
	flex-flow:column nowrap;
}

.campo_nombre, .campo_mail, .campo_edad, .campo_fecha, .campo_sexo, .campo_profesion, .campo_antiguedad, .campo_usuario, .campo_pass, .campo_intereses, .campo_foto{
	margin:20px 5px;
}

label{
	font-family: Arial;
	font-weight: bold;
	font-size:1.3rem;
	color:#444;
}

.campo_nombre label{
	margin-right: 35px;
}

.campo_mail label{
	margin-right: 57px;
}

.campo_edad label{
	margin-right: 61px;
}

.campo_fecha label{
	margin-right: 10px;
}


.campo_profesion label{
	margin-right: 10px;
}

.campo_antiguedad label{
	margin-right: 10px;
}

.campo_usuario label{
	margin-right: 35px;
}

.campo_pass label{
	margin-right: 13px;
}

#categorias{
	display: flex;
	flex-flow:column nowrap;
	width:100%;
}

.btn-envio{
	display: flex;
	flex-flow:row nowrap;
	justify-content:center;
}

#enviar{
	background-color: #00BFFF;
	color:#FFF;
	padding: 10px 20px;
	border:1px solid #00BFFF;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.1rem;
	transition: 0.3s all ease;
}

#enviar:hover{
	background-color: #045FB4;
}