.contenedor{
	display: flex;
	flex-flow: row wrap;
	width:100%;
	justify-content:center;
}

.contenedor h1{
	width: 100%;
	text-align: center;
}

.contenedor .formulario{
	display: flex;
	flex-flow:column nowrap;
}

.campo_nombre, .campo_mail, .campo_edad, .campo_fecha, .campo_sexo{
	margin:20px 5px;
}

.campo_nombre label{
	margin-right: 35px;
	font-family: Arial;
	font-weight: bold;
	font-size:1.3rem;
	color:#444;
}

.campo_mail label{
	margin-right: 57px;
	font-family: Arial;
	font-weight: bold;
	font-size:1.3rem;
	color:#444;
}

.campo_edad label{
	margin-right: 61px;
	font-family: Arial;
	font-weight: bold;
	font-size:1.3rem;
	color:#444;
}

.campo_fecha label{
	margin-right: 10px;
	font-family: Arial;
	font-weight: bold;
	font-size:1.3rem;
	color:#444;
}

.campo_sexo label{
	font-family: Arial;
	font-weight: bold;
	font-size:1.3rem;
	color:#444;
}